[Unit]
Description = Sync libnss-cache data with Bacchus ID
Documentation = https://github.com/bacchus-snu/arch-packaging
After = network-online.target

[Service]
Type = oneshot
ExecStart = sh -c 'curl -sSL https://id.snucse.org/api/nss/passwd > /etc/passwd.cache'
ExecStart = sh -c 'curl -sSL https://id.snucse.org/api/nss/group > /etc/group.cache'
